body {
  display: flex;
  justify-content: center;

  p, h5 {
    margin: 0;
    padding: 0;
  }

  .main {
    width: 40rem;

    .card-link {
      .bi-suit-heart {
        display: block;
      }

      .bi-suit-heart-fill {
        display: none;
      }

      &.like {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #dc3545;

        span {
          display: block;
          margin-left: 5px;
        }
      }

      &.like.active {
        color: #dc3545;

        .bi-suit-heart-fill {
          display: block;
        }

        .bi-suit-heart {
          display: none;
        }

      }
    }

    .bd-placeholder-img {
      text-anchor: middle;
      border-radius: 8px;
    }

    .profile {
      margin-top: 30px;
      display: flex;


      .profile__avatar {
        display: block;

        height: 200px;
        width: 200px;
      }

      .profile__info {
        margin-left: 30px;
      }

      .profile__info--email {
        margin-top: 10px;

      }

      .profile__info--registered {
        font-size: 12px;

      }
    }
    .posts{
      .card-img-top{
        display: block;
        height: 200px;
        width: 200px;
        object-fit: cover;
      }

    }
  }
}